<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Vamos a la playa, ohohohoh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>About</h1>
	<p>
		This is an abotu page.  It is about me.  It may be about other peope as well.  It's just really in that general description of things category. Also here's an anchor: 
		<a href="/static_pages/help">Help. WOoo.</a>
	</p> 
</body>
</html>
